bin/
bin/*.dll
bin/*.exe
bin/*.pdb
build
obj/
*.make
*.cbp
*.png
!TP_SI3D/screenshots/**
!TP2_SI3D/screenshots/**
data/dragon.obj
data/rungholt/**
data/sponza/**
!data/CubeWorld/**
!bin/TP_SI3D
!bin/TP2_SI3D
!bin/TP_CG

*.workspace
.vscode/
.vscode/**

Makefile
